
.moon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 15px -15px;
    position: absolute;
    margin: 0 100px;
    animation: moonmove 3s infinite linear;
    animation-direction: alternate;
}

@keyframes moonmove {
    0% {
        box-shadow: 15px -15px #f5a693;
        transform: translateX(-15px) translateY(15px);
    }

    100% {
        box-shadow: -30px 30px #bbd0fd;
        transform: translateX(30px) translateY(-30px);
    }
}

:root {
    --myLight: #F7F7EE;
    --myPink: #FDD2BB;
    --myDark: #383844;
    --myRed: #E64B4B;
    --myGray: #CDCDD2;
}

/* body .container-fluid {
    background-color: var(--myLight);
} */

.search {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--myDark);
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.search input {
    width: 150px;
    height: 30px;

}

.search-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--myDark);
    background-color: var(--myLight);
    position: absolute;
    right: 0;
}
body * {
    /* outline: 1px solid red; */
}

body {
    background-color: var(--myLight);
    /* 之後要刪 */
    padding-top: 100px;
}

.bgMountainRow {
    overflow: hidden;
}

.bgMountain {
    left: 0;
    top: 150px;
}

.bgMountain img {
    width: 100%;
}

/*======== 共同class */
.divider {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--myDark);
}

.fitContent {
    width: fit-content;
}

/*========= 共同class */
/*================= fonts =======================*/
.myh2 {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: lighter;
}

.myh3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.myh4 {
    font-family: 'Noto Serif TC', serif;
    font-size: 30px;
    font-weight: bold;
}

.myh5 { 
    /* 桌機版標題 */
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    font-weight: bold;
}
.myh5 span {
    color: var(--myGray);
}
.titleDivider {
    /* 桌機版標題橫線 */
    padding-bottom: 8px;
    border-bottom: 1px solid var(--myGray);
}
.myInputLabel { 
    /* 欄位名稱 */
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    font-weight: normal;
}

/* .myh6 {
    font-family: 'Noto Serif TC', serif;
    font-size: 18px;
    font-weight: bold;
} */

.bd1 {
    /* 商品數量+- */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.bd2 {
    /* 內文 */
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

/* span {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    font-weight: italic;
} */

.btnFont {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.totalPriceFont {
    /* 總計 */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
.stepFont {
    /* 購物車流程 */
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: -20px;
}

/*================= fonts end =======================*/
/*================= 購物車流程 =======================*/
.stepCircle {
    width: 40px;
    height: 40px;
    background-color: var(--myPink);
    border-radius: 50%;
    margin: 0 5px;
}
.stepActive {
    background-color: var(--myRed);
}
.stepLine {
    width: 128px;
    height: 1px;
    background-color: var(--myDark);
}
.stepArrow {
    border: solid var(--myDark);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
}
.stepArrow.right {
    margin-left: -16px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
/*================= 購物車流程end =======================*/

/* bootstrap nav cart */
/* .dropdown-menu {
    margin-left: -50px;
} */

/* bootstrap nav cart end */

/* nav .container-fluid {
    background-color: var(--myLight);
    height: 120px;
} */

/* .wrap {
    width: 1160px;
    margin: 0 auto;
} */

.icon15px {
    width: 15px;
    height: 15px;
}

.icon18px {
    width: 18px;
    height: 18px;
}

.icon20px {
    width: 20px;
    height: 20px;
}



/*======== cart item ================*/
.select-bar {
    width: 100%;
    height: 50px;
    background-color: var(--myPink);
}

.myRadio {
    width: 25px;
    height: 25px;
}

.itemRow {
    width: 100%;
    height: 200px;
    background-color: #fff;
    /* border-bottom: 1px solid var(--myDark); */
    border-top: 1px solid var(--myDark);
}

.itemPic {
    width: 195px;
    height: 130px;
    background-color: #ccc;
    /* margin-left: 105px; */
}

.itemPrice {
    margin-right: 100px;
}

.btnRow {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.primaryBtn {
    width: 200px;
    height: 50px;
    background-color: var(--myPink);
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
}

.paymentSelRow {
    width: 100%;
    background-color: #fff;
    padding: 50px;
}


/* .dropdown-toggle::after {
    display: none;
} */

/* =============label區塊============== */
.myLabelGroup {
    padding: 0 36px;
    margin-top: 100px;
}

.labelSquare {
    position: relative;
    width: 134px;
    height: 50px;
    background-color: #FDD2BB;
    margin: 0 40px 0 0;
}

.labelTriangle {
    position: absolute;
    left: -36px;
    border-color: transparent #FDD2BB transparent transparent;
    border-style: solid solid solid solid;
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 50px 36px 0px 0px;
}

.labelTriangleWhite {
    position: absolute;
    left: -36px;
    border-color: transparent white transparent transparent;
    border-style: solid solid solid solid;
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 50px 36px 0px 0px;
}

.lableName {
    position: absolute;
    left: 40px;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

/* =============label區塊 end============== */
/* =============商品下拉區塊============== */
.dropdownItems {
    cursor: pointer;
}
.dropdownItemsPanel:nth-child(2n) {
    /* 還有問題 */
    /* background-color: var(--myGray); */
}

.dropdownItemsPanel {
    display: none;
}

/* =============商品下拉區塊end============== */
/* =============map區塊============== */
.mapSquare {
    width: 150px;
    height: 150px;
    background-color: var(--myDark);
    margin-left: 150px;
}
/* =============map區塊end============== */

